@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
}
body{
  min-height: 100dvh;
  width: 100dvw;
  overflow-x: hidden; 
  
}

/*------------------------------ Navbar------------------------  */

.navbar{
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  z-index: 10;
  background: rgb(238 238 255);
  flex-wrap: nowrap;
  padding-left: 1rem;
}

.logo{
  display: flex;
  justify-content: flex-end;
}

.img-logo{
  margin: 0.25em;
  height: 53px;
  border-radius: 5em;
}
.img-logo:hover{
  cursor: pointer;
}

.nav-list{
  margin: 0px 2px;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
}
.nav-item {
  font-size: 1.2rem;
  text-decoration: none;
  margin : 0px 10px ; 
}
.nav-item:hover {
  color: red;
  /* padding: 0.5rem 0.25rem;
  border-radius: 3px;  */
  /* text-shadow: 2px 2px 5px rgb(242, 163, 176); */
}
.package-type:hover{
  color: red;
}
.dropdownmenu{
  position: relative;
  left: -1%;
}
.sub-package {
  display: none;
  font-size: 1.2rem;
  background:rgb(210, 210, 243);
  background: rgb(238 238 255);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  /* top: calc(90% + 0.25rem); */
  /* left: 60%;
  right: 60%; */
}
#domestic{
  border-bottom: 3px solid white;
  
}
.sub-package .package-type_{
  /* border: 2px solid green; */
  
  margin: 10px;  
}
.sub-package .package-type_ .package-type{
  font-size: 1rem;
  padding: 10px 5px;
  /* border-bottom: 2px solid white; */
}

.packages:hover .nav-item{
  padding: 0rem;

}
.packages:hover .sub-package{
  display:flex;
  flex-direction:column;
  
}


.nav-right{
  padding : 0px 0.5rem;
  margin-right: 20px;
}
.btn{
  padding:0.5rem 0.75rem;
  font-size: 1rem;
  border: 0px;
  border-radius: 7px;
  text-decoration: solid;
}
.login{
  background-color: rgb(204 204 240);
  margin-right: 0.25em;
}
.login:hover{
  background-color: rgb(95, 163, 240);
  color: rgb(250, 250, 250);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.signup{
  background-color: #f5eb9a;
  margin: 0em 0.25em;
}
.signup:hover{
  background: #f3de42;
  color: rgb(250, 250, 250);
  text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px yellow;
}



.small{
  display: none;
  margin-right: 20px;
}

.nav-list_menu{
  display : none;
  flex-direction: column;
  column-gap: 30px;
  margin-bottom: 2px;
}
.nav-list_menu > .list-item{
  display: flex;
  justify-content: center;
  text-align: center;
  background : rgb(238 238 255);
}
.nav-item_ {
  /* display: none; */
  font-size: 1.2rem;
  text-decoration: none;
  margin : 0px 10px ;
}
.nav-item_:hover {
  background-color: rgb(136, 136, 227);
  padding: 0.25rem 0.5rem ;
  border-radius: 3px; 
  text-shadow: 2px 2px 5px rgb(242, 163, 176);
}

/*----------------------------End of Navbar------------------------------------*/



/*------------------------Hero Section ------------------------*/
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content ;
  /* padding-top: 4rem; */
  /* margin: 0em 1em; */
}
/* .stick{
  position : fixed ;
  top : 0%;
  width : 100%;
} */
.hero .content {
  width: 50%;
  height: 70vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  /* padding-left: 1rem; */
  justify-content:center;
  align-items: flex-start;
}
.hero .image {
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .container .heading{
  display: flex;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  margin-top: 1.5em;
  /* margin-left: 1em; */
  margin-right: 1em;
  text-align: center;
  align-content: center;
}
.hero .container .description{
  display: flex;
  font-size: 1rem;
  font-family: 'Playfair Display', serif;
  /* margin: 0em 1em; */
  flex-wrap: wrap;
  padding: 2em 1em;
  align-content: center;
  justify-content: center;
}
.exp-btn{
  width: 85%;
  display: flex;
  justify-content: center;
}
.hero .container .explore{
  font-size: 1.25rem;
  padding: 8px;
  margin: 5px;
  margin-left: 0px;
  background-color: #9575cd;
  color: white;
  border-radius: 5px;
}
.hero .container .explore:hover{
  color: rgb(225, 225, 225);
  color:white;
  /* background: radial-gradient(#8652df, #c9aef8); */
  border: 2px solid #7d41e4;
  /* box-shadow: 0px 0px 4px 3px #874eeb; */
  /* background: #7f4dd4; */
}
.hero .container .image_ {
  width: 60%;
  height: 60%;
}
/*------------------------End of Hero Section----------------------*/


/*---------------------About Us----------------------------------*/
.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .description{
  line-height: 1.6;
  max-width: 1450px;
  background:linear-gradient( 120deg, white ,#fcf7ff7d ,white );
  padding: 2rem;
  border: 2px solid white;
  border-radius: 1rem;
  margin: 0rem 1rem;
  
}
/*---------------------End of About Us---------------------------*/
/*------------------------Our Services---------------------------*/
.our_services{
  margin: 2rem 0rem;
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.bgimg{
  position: relative;
}
.bgimg::before{
  display:flex;
  width: 100%;
  position: absolute;
  /* padding: 5px; */
  content: '';
  opacity: 0.1;
  background: url("https://images.pexels.com/photos/7412067/pexels-photo-7412067.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
 .heading1{
  text-align: center;
  margin: 2rem 0rem ;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}

.card_section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-start;
  width: 100dvw;
  margin-top: 2rem;
  /* border: 5px solid black; */
  /* padding: 2rem; */
  row-gap: 5rem;
  z-index: 1;
  
}
.card{
  /* min-width: 250px; */
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
  /* margin: 10px; */
  padding: 5px;
  margin: 2rem;
  border: 2px solid black;
  z-index:1;
  max-width: 300px;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
.card_image{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  z-index:1;
  /* border: 2px solid black; */
}
.card_img{
  width: 250px;
  height: 150px;
  z-index: 1;
  border-radius: 10px;
  
}
.card_heading{
  font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 600;
}
.card_description{
  padding: 16px;
  z-index:1;
  /* border: 2px solid black; */
}
/*------------------------End of Our Services--------------------*/

/*------------------------Testimonials---------------------------*/
.testimonials{
  margin-top: 4rem;
  margin-bottom: 4rem ;
}
.tescard{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /* border: 2px solid black; */
}
.tes_image{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.image_tes{
  width: 100%;
  aspect-ratio: 1 / 1;
  /* border-radius: 9rem; */
  border-top-left-radius: 10rem ;
  border-top-right-radius: 3rem ;
  border-bottom-left-radius: 3rem  ;
  border-bottom-right-radius: 2rem ;
  max-width: 200px;
}
.image_tes2{
  width: 100%;
  aspect-ratio: 1 / 1;
  /* border-radius: 9rem; */
  border-top-left-radius: 3rem ;
  border-top-right-radius: 10rem ;
  border-bottom-left-radius: 2rem  ;
  border-bottom-right-radius: 3rem ;
  max-width: 200px;
}
.tes_content{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 1rem;
  max-width: 70%;
}
.tes_content > .des{
  display: flex;
  font-family: 'Dancing Script', cursive;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
}
.name {
  text-align: center;
}
.rev{
  flex-direction: row-reverse;
}


/*------------------------End of Testimonials--------------------*/


/*-----------------------Available PAckages----------------------*/
.packages_ {
  /* border: 2px solid black; */
  padding: 1.5rem 1rem;
  overflow-x: hidden;
}
/* .pack{
  display: flex;
} */
.pack_{
  border: 3px solid black;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
.packs{
  /* width: fit-content; */
  margin: 1rem;
  /* overflow-x: hidden; */
  /* text-align: center; */
  /* overflow: hidden; */
}
.owl-carousel .owl-stage{
  margin: 1rem;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.onemore{
  /* margin-left: auto;
  margin-right: auto; */
  height: 90%;
  max-width: 350px;
}

/*----------------------end of Available PAckages----------------*/

/*-------------------------Footer Section--------------------------*/
.foo{
  position: sticky;
  top: 100%;
  /* bottom: 0%; */
  background: #f6f4fa;
  padding: 10px;
  margin-top: 4rem;;
  box-shadow: 0px 0px 12px 0px #64558e;
  text-align: center;
}
.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(244, 244, 252);
}
.footer .sec{
  display: inline-block;
  padding: 8px;
}
.sec .items, .social .image{
  padding:5px;
  text-align: center;
}
.social{
  display: flex;
  justify-content: space-between;
}
.social .image{
height: 30px;
width: 30px;
}


/*-------------------------End of Footer --------------------------*/

/*-----------------------------Form styling-------------------------*/
.form_main-container{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  /* background: lightcyan; */
  height: 100dvh;
  width: 100dvw;
  background: white;
  
  
}
._form_img_container{
  padding: 2px;
  display: flex;
  min-width: 30%;
}
.form_img{
  min-width: 350px;
  width: 600px;
  /* max-width: 500px; */
  aspect-ratio: 1 / 1;
}
.form_container {
  padding:20px;
  /* background:  #fcf8ff; */
  border: 2px solid black;
  border-radius: 37px;
  max-width: 60%;
  width: 500px;
  min-width: 250px;
  /* min-height: 70%; */
  box-shadow: 1px 1px 9px 2px #606060;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-content: space-between;
}

label{
  font-family: 'Poppins', sans-serif;
  margin: 0rem 0rem;
  font-size: 24px;
}
input{
  width: 100%;
  border: 0px solid;
  /* background:  #fcf8ff; */
  border-bottom: 2px solid black;
  margin-bottom: 2rem;
  padding: 5px;
  font-size: 20px;
} 
.heading_form{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.form-heading{
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  height: 30%;
}
#login_sec{
  padding-right: 16px;
  cursor: pointer;
}
#signup_sec{
  padding-left: 16px;
  cursor: pointer;
}
.form_data{display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: space-around; */
  flex-wrap: wrap; 
}

.sub-btn{
  padding: 10px 20px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  background: #8a6be4;
  color: white;
  border-radius: 12px;
  outline: none;
  border: 0;
}
.sub-btn:hover {
  box-shadow: 0px 0px 5px 0px  #7048ea;
}

.only_signup{
  display: none;
}

/*--------------------End of form styling-----------------------------*/


/*-----------------------Pop up -----------------------------------*/
.popup_main_container{
  position:absolute;
  top: 50%;
  top: 0;
  left: 50%;
  background: white;
  transform: translate(-50%,-50%);
  transform: translate(-50%,-50%) scale(0.1);
  width: 400px;
  min-width: 200px;
  text-align: center;
  border-radius: 10px;
  /* border: 2px solid black; */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  visibility: hidden;
  transition: transform 0.4s , top 0.4s;
  z-index: 1;
}
.open_popup{
  visibility: visible;
  top: 50dvh;
  transform: translate(-50%,-50%) scale(1);
}

.popup_btn{
  padding: 10px 50px;
  background: #6fd649;
  background: #4BAE4F;
  color: #eef8ea;
  font-size: 20px;
  outline: none;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.tick_img {
  width: 100px;
  border-radius: 50% ;
  margin-top: -50px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.popup_main_container h2{
  font-size: 30px;
  margin: 10px 0px;
  padding: 5px;
  color: #333;
}

.popup_main_container .message{
  font-size: 20px ;
  padding: 10px;
  padding-top: 0px;
  margin-bottom: 10px;
}

/*------------------------End pop up-------------------------------*/

/*-------------------------Detailed View of Packages--------------*/
.main_detaild_view{
  
  border: 3px solid pink;
}

#Enchanting_India1,#Ultimate_European_Escape1,#African_Odyssey1,#Royal_Rajasthan_Escapade1,#North-Eastern_Wonders1{
  display: none;
}
.detailedview{
  display: flex;
  top: 20%;
  position: absolute;
  width: 90dvw;
  left: 5dvw;
  right: 5dvw;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(160deg, white, #f5f2ff);
  padding: 20px;
  border-radius: 10px;
  /* border: 3px solid black; */
  font-family: 'Poppins', sans-serif;
  
  z-index: 2;
  overflow: hidden;
  padding: 10px;
  outline: none;
  box-shadow: 0px 0px 6px 4px #f5f2ff;
}

.daywise{
  display: flex;
  /* max-width: 375px; */
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */ /*make it wrap for screen less than 1048*/
  justify-content: center;
}

.detailedview .detailedview_image{
  display: flex;
  overflow: hidden;
  justify-content: center;
  min-width: 375px;
  margin-bottom: 2rem;
  padding: 10px;
}
.detailedview .detailedview_image img{
  width:90%;
  max-width: 400px;
  aspect-ratio: 1 / 1.15;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 4px #5c5858;
}
.detailedview .detailedview_content{
  width: 60%;
  /* max-width: 80%; */
  min-width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* text-align: center; */
  margin-right: 30px;
  margin-left: 30px;
  padding: 5px;
}

.book-now{
  padding: 10px 20px;
  border: 0;
  outline: none;
}

/*-------------------end of Detailed View of Packages--------------*/


/*-----------------Media Queries---------------------------*/
@media screen and (max-width: 1048px) {
/* Medium screen size */
.img-logo{
height: 53px;
}
.nav-list_menu{
  display : none;
}

.hero .container .heading {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  /* margin-left: 1em; */
  /* margin-right: 1em; */
}
.hero .content {
  width: 50%;
  height: fit-content;
}
.exp-btn{
  display: flex;
  justify-content: center;
}

/*---------detailed view queries-----------*/
.daywise{
  flex-wrap: wrap;
}
.detailedview .detailedview_image img{
  width:70%;
  }
}

@media screen and (max-width: 640px) {
/* small screen size */
.img-logo{
height: 50px;
}
.nav-center , .nav-right {
  display: none;
}
.exp-btn{
  text-align: center;
}
.small{
  display: block;
}



.hero {
  display: flex;
  flex-direction: column-reverse;
}
.hero .content {
  width: 100%;
  height: fit-content;
  align-items: center;
  /* padding: 1rem; */
}
.hero .container .heading {
  margin-top: 1rem;
  margin-right: 0rem;
}
.hero .image {
  width: 80%;
  height: fit-content;
}
.hero .container .image_ {
  width: 100%;
  height: fit-content;
}

.heading1{
  font-size: 2.5rem;
}


/*--------------testimonials-------------------*/
.tescard{
  flex-direction: column;
}
.tes_image{
  width: 100%;
  justify-content: center;
}
.image_tes2{
  width: 100%;
  aspect-ratio: 1 / 1;
  /* border-radius: 9rem; */
  border-top-left-radius: 10rem ;
  border-top-right-radius: 3rem ;
  border-bottom-left-radius: 3rem  ;
  border-bottom-right-radius: 2rem ;
  max-width: 200px;
}


.footer{
  justify-content: space-evenly;
  /* align-items: ; */
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3px;
  
}
.footer .sec{
  width: fit-content;
  padding-top: 0px ;
  padding-bottom: 0px;
  min-width: 25%;
}


/*---------------form styling------------------------*/

._form_img_container{
  display: none;
}
.form-heading{
  font-size: 26px;
  
}
}
/*--------------------Media Query Ends -------------*/




