@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

*{
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
}
body{
   background: white; 
   font-family: "Roberto", sans-serif;
}
:root {
    --bg-background : rgb(246, 243, 238);
}

.navbar{
    background: rgb(241 249 255);
    font-family: "Poppins" , sans-serif;
    font-size: 1.2rem;
    display: flex; justify-content: space-between; align-items: center;
    padding: 0.3em 0.5em;
}
.nav-sec{
    width: 87vw;
    display: flex;justify-content: space-evenly;align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px red;
}

.hover-item:hover{
    cursor: pointer;
    text-shadow: 0px 1px 3px rgb(244, 83, 83);;
    color: red;  
}
.hover-item:active{
    color: rgb(244, 83, 83);  
}

.active{
    color: red;
}

.toggle-btn{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30px;
    height: 39px;
    border-radius: 1rem;
}
.toggle-btn .bar{
height: 3px;
width: 100%;
background: black;
border-radius: 10px;
}

/* --------------------------Search Bar-------------------- */

.search-box{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 4rem;
}
.search-box .input-box{
    width : 60%;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    font-family: "Robboto";
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}
.search-box .search{
    font-size: 20px;
    color: white;
    padding: 0.5rem 2rem;
    font-weight: 600;
    background-color: #456dea;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.search:hover{
    background-color: #2c54cc;
}
.search:active{
    background-color: #5e80e7;
    color: aliceblue;
}

/* Main Content */


.card-container{
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    /* padding-left: 10%;
    padding-right: 10%; */
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, 1fr);
    /* grid-column-gap: 30px;
    grid-row-gap: 30px; */
    /* justify-content: center;
  align-items: center; */
    width: 95vw;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2rem;
}
.card-container .cards{
    display: flex;
    justify-self: center;
    /* align-self: center; */
    flex-direction: column;
    overflow: hidden;
    max-width: 300px;
    min-width: 250px;
    box-shadow: 1px 1px 7px black;
    border-radius: 10px;
    transition: all 0.5s ease;
}
/* .card-container .cards .card-photo{
    background: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202208/breaking_latest_news_1200x675_72.jpg?VersionId=4pKHwVmcfPLsc04qGHbbzbhaE26ZRNfR&size=690:388") ; 
    object-fit: cover;
    max-height: 200px;
    min-height: 200px;
    width: 100%;
    background-position: center center;
    z-index: -1000;
} */
.card-container .cards .card-photo img{
    object-fit: fill;
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}
.card-container .cards .news-content{
    padding: 10px;
}
.headline{
    margin: 5px;
    margin-left: 0px;
}
.news-by{
    margin-bottom: 4px ;
}
.card-container>.cards:hover{
    transform: translateY(-2px);
    box-shadow: 1px 1px 20px black;
}

@media screen and (max-width: 1140px){
    .card-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 932px){
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media  screen and (max-width: 640px) {
    /* Navbar */
    .navbar{
        flex-direction: column;
        align-items: flex-start;

    }
    .toggle-btn{
        display: flex;
    }
    .list{
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .list.active{
        display: flex;
    }
    

    /*--------------Search Box-------------------*/
    .search-box .input-box{
        width : 80%;
        padding: 1rem 2rem;
        font-size: 20px;
    }
    
    .search-box .search{
        font-size: 15px;
        padding: 0.5rem 2rem;
    }
    /*--------------Main-------------------*/
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .active{
        color: red;
    }
}